<input ng-model="title">

<ng-include src="includeHtml.html"></ng-include>

<button ng-click="sendEvent()" class="btn btn-primary btn-block">Click me</button>

<div class="row" ng-controller="exampleController">
  <p>{{message}}</p>
</div>

<div class="row" ng-controller="exampleController">
  <p>{{message}}</p>
</div>

<div>
  <label for="showTable">Show table: </label>
  <input id="showTable" type="checkbox" ng-model="showTable" checked>
  <table class="table" ng-show="showTable">
    <thead>
    <tr><th></th></tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in data">
      <td>{{$index + 1}}</td>
      <td>{{item.prop}}</td>
      <td>{{$even}}</td>
    </tr>
    </tbody>
  </table>
</div>

<div>
  <form name="myForm" novalidate class="form" ng-submit="submitForm(inputText)">
    <input type="text" name="inputText" class="form-control" ng-model="inputText" required />
    <button ng-disabled="myForm.$invalid" type="submit" class="btn btn-primqry btn-block">Send form</button>
  </form>

</div>
